.myself > .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.myself > .social a + a {
  margin-left: 20px;
}

.myself > .social img {
  width: 60px;
  box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.75);
  border-radius: 50%;
  align-self: center;
}
