$base-color: #f1c40f;

.profile section.two {
  height: 100vh;
  background-color: $base-color;
  box-shadow: -5px 0px 15px 0px rgba(0,0,0,0.75);
  position: absolute;
  will-change: transform;
  transition: transform 300ms linear;
  z-index: 160;
}

.profile section.two.content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.profile section.two.content .skills {
  display: flex;
  flex-direction: column;
  align-items: center;

  .skill {
    h1 {
      font-size: 1.5em;
      text-align: center;
      margin-bottom: 10px;
      text-transform: uppercase;
      border-bottom: 1px solid rgba(34,34,34,0.16);
    }
  }
}

.profile .hidden {
  -webkit-transform: translateX(103%);
  transform: translateX(103%);
}

.profile .fade-in {
  -webkit-transform: translateX(103%);
  transform: translateX(0%);
}
