<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>RatoX</title>
  </head>
  <body>
    <main class="main">
      <section class="myself">
        <figure>
          <img alt="minha foto de perfil, fazendo cosplay de Nick Fury dos Vingadores da Marvel" src="https://avatars1.githubusercontent.com/u/3452187?v=3&s=466"/>
          <figcaption>
            Desenvolvedor FullStack com habilidades em FrontEnd.
          </figcaption>
        </figure>
				<section class="languages">
					<a href="#">Do you speak english?</a>
					<a href="#">Você fala português?</a>
        </section>
        <footer>
          <p>
            Isso não é um blogger, é apenas um site estático no qual eu coloco meus experimentos com FrontEnd.
          </p>
        </footer>
      </section>
		</main>
  </body>
</html>
