section.myself.fullheight(itemscope, itemprop='Person', itemtype='http://schema.org/Person')

  section.languages
    a.language(href='#en') English
    a.language.active(href='#pt-BR') Português
  figure.profile
    img(alt='minha foto de perfil', src='perfil.jpg', itemprop='image')
    h1.name(itemprop='name')
      | Elizabeth Ramos
    h2.about(itemprop='jobTitle')
      | Beginner Programmer.
      
    section.contact
      span.email(itemprop='email')
        | elizabethlopesramos@gmail.com
  figure.social
    a(href='https://github.com/ElizabethRamos', target='_blank')
      img(src='logos/github.svg', alt='logo do meu github')
    a(href='https://www.linkedin.com/in/elizabeth-ramos', target='_blank')
      img(src='logos/linkedin.svg', alt='logo do meu linkedin')
    a(href='https://www.facebook.com/elizaclr', target='_blank')
      img(src='logos/facebook.svg', alt='logo do meu facebook')
