section.myself.fullheight(itemscope, itemprop='Person', itemtype='http://schema.org/Person')
  header
    section.languages
      a.language(href='#en') English
      a.language.active(href='#pt-BR') Português
  section.profile
    section.one
      img(alt='minha foto de perfil, sorridente e com um cachecol listrado muito legal', src='perfil.jpg', itemprop='image')
      h1.name(itemprop='name')
        | Rodrigo Alencar
      h2.about(itemprop='jobTitle')
        | Desenvolvedor FullStack com foco em FrontEnd.
      section.contact
        span.email(itemprop='email')
          | rodrigovieira18@gmail.com
        span.fingerprint
          label.pgp
            | Quer me entrar em contato comigo de forma segura?
          a(href='https://pgp.mit.edu/pks/lookup?op=get&search=0x5E2B94DCA7B99FBA', target='_blank')
            | 0088 D6A9 E9E4 03A5 358F  6D84 5E2B 94DC A7B9 9FBA
    section.two.hidden.content
       span.action.back
            | < Voltar
  section.know-more
  figure.social
    a(href='https://github.com/RatoX', target='_blank')
      img(src='logos/github.svg', alt='logo do meu github')
    a(href='https://www.linkedin.com/in/Rodrigo-Alencar', target='_blank')
      img(src='logos/linkedin.svg', alt='logo do meu linkedin')
    a(href='https://twitter.com/ratoox', target='_blank')
      img(src='logos/twitter.svg', alt='logo do meu twitter')
