$base-color: #f1c40f;

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import 'myself';

* {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
  margin: 0;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: $base-color;
  box-shadow: 2px 1px 5px rgba(0,0,0, 0.75);
}

.main {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

.fullheight {
  height: 100vh;
}
