$base-color: #f1c40f;
$dark-color: #222;
$font-color: #222;

.myself {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $base-color;
  justify-content: space-between;
  color: $font-color;
}

.myself a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
}

.myself > .languages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $dark-color;
  min-height: 40px;

  & .active {
    text-decoration: underline;
  }
}

.myself > .profile {
  flex-grow: 1;
}

.myself > .profile > img {
  max-width: 200px;
  width: 60%;
  max-height: 200px;
  margin: 1em auto;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #222;
  box-shadow: 1px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.myself > .profile > .name {
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.myself > .profile > .about {
  text-align: center;
  font-size: 1.1em;
}

.myself > .profile > .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1em;

  .email {
    font-weight: bold;
    font-size: 1.1em;
  }

  .fingerprint {
    margin-top: 10px;
    font-weight: normal;
    font-size: 0.9em;

    a {
      color: #3D3D3D;
    }

    label {
      font-size: 0.8em;
      display: block;
    }
  }
}

.myself > .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.myself > .social a + a {
  margin-left: 20px;
}

.myself > .social img {
  width: 60px;
  box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.75);
  border-radius: 50%;
  align-self: center;
}

.myself > footer {
  font-size: 0.9em;
}
