$base-color: #1F1F1F;
$secondary-color: #7E8F7C;
$constrast-color: #FDF3E7;
$font-color: #EDEDED;

.myself {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $base-color;
  justify-content: space-between;
  padding: 30px;
  color: $font-color;
}

.myself a {
  color: $constrast-color;
}

.myself > .languages {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.myself > figure > img {
  width: 200px;
  height: 200px;
  margin: 1em auto;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid $constrast-color;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.myself > figure > figcaption {
  text-align: center;
  font-size: 2em;
  text-shadow: 0 1px 0 rgba($font-color, 0.4);
}

.myself > footer {
	font-size: 0.9em;
}
