$base-color: #f1c40f;
$dark-color: #222;
$font-color: #222;

@import 'know-more';
@import 'profile/main';
@import 'profile/one';
@import 'profile/two';
@import 'profile/social';

.myself {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $base-color;
  justify-content: space-between;
  color: $font-color;
}

.myself a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  align-self: center;
}

.myself .languages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $dark-color;
  min-height: 40px;

  & .active {
    text-decoration: underline;
  }
}

.action {
  box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.75);
  max-width: 200px;
  max-height: 50px;
  background-color: $dark-color;
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: lighten($dark-color, 10%)
  }
}
